/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/* Posititoning Classes */

  .row {
    clear: both;
    margin-bottom: 2%;
  }
  
  .row:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    line-height: 0;
  }

<<<<<<< HEAD
/* Posititoning Classes */
.container {
  clear: both;
  margin-bottom: 2%;
}

.container:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.col-3 {
  width: 32%;
}

.col-2 {
  width: 66%;
}

[class*="col-"] {
  float: left;
  margin-left: 2%;
}

.first {
  margin-left: 0%;
}
=======
  [class*="col-"] {
    float: left;
    margin-left: 2%;
  }

  [class*="col-"]:first-child {
    margin-left: 0;
  }

  .col-4 { width: 32%; }
  .col-8 { width: 66%; }
>>>>>>> 57878b93f2b9ad19a0eb3d03a78d68680e12a2ae
